{% extends 'webapp/base.html' %}
{% load static %}

{% block content %} 
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

    <h5> Bienvenido, {{user}}! 👋 </h5>

    <hr>

    <a class="btn btn-outline-primary btn-sm" href="{% url 'create-record' %}">

        Crear un nuevo registro &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i>

    </a>

    <hr> 

    <table class="table table-hover table-bordered">

        <thead class="table-light">

            <tr>

                <th scope="col"> ID </th>
                <th scope="col"> Nombre completo </th>
                <th scope="col"> Email </th>
                <th scope="col"> Telefono </th>
                <th scope="col"> Dirección </th>
                <th scope="col"> Ciudad </th>
                <th scope="col"> Valparaíso </th>
                <th scope="col"> País </th>

                <th scope="col"> Fecha de ingreso </th>

                <th scope="col"> Ver más </th>

            </tr>

        </thead>

        <tbody>

        {% if records %}

            {% for record in records %}

            <tr>

                <td> {{record.id}} </td>

                <td> {{record.first_name}}  {{record.last_name}} </td>

                <td> {{record.email}} </td>

                <td> {{record.phone}} </td>
                <td> {{record.address}} </td>
                <td> {{record.city}} </td>
                <td> {{record.province}} </td>
                <td> {{record.country}} </td>

                <td> {{record.creation_date}} </td>

                <td> <a class="btn btn-success btn-sm" href="{% url 'record' record.id %}"> <i class="fa fa-eye" aria-hidden="true"></i> </a> </td>

            </tr>

            {% endfor %}
        
        {% endif %}


        </tbody>


    </table>


{% endblock %}