{% extends 'webapp/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<body>
    <div class="welcome-container">
        <h3 class="welcome-title">¡Gestión de usuarios!</h3>
        <h5 class="welcome-subtitle">¡Mantente al día!</h5>
        <img src="https://img.freepik.com/vector-gratis/conjunto-avatar-personas-sonrientes-coleccion-diferentes-personajes-hombres-mujeres_1150-41072.jpg?w=2000" alt="Descripción de la imagen" class="welcome-image">

        <hr class="welcome-divider">
        <a class="btn welcome-btn" href="{% url 'register' %}">Regístrate</a>
    </div>
</body>
{% endblock %}


