{% extends 'webapp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container bg-light shadow-md p-5 form-layout">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <h3> Inicia sesión </h3>
    <h5> ¡Bienvenido de vuelta! </h5>
    <hr>

    <form method="POST" autocomplete="off">
        {% csrf_token %}
        {{ form.username|as_crispy_field }}
        {{ form.password|as_crispy_field }}
        <button type="submit" class="btn btn-primary w-100 p-2"> Iniciar sesión <i class="fa fa-key" aria-hidden="true"></i> </button>
    </form>

    <div class="text-center">
        <p> ¿No tienes una cuenta? </p> <a href="{% url 'register' %}"> Regístrate </a>
    </div>
</div>
{% endblock %}
